
/* General body styling and classes used across the entire doc */

body{
    overflow-x:hidden;
    position:relative;
    background-size:cover;
    background-attachment:fixed;
}
/* icons */
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
  /*Color palette*/
  .KF-bg-main{background-color: #25476a; color:white}
  .KF-bg-Second{background-Color: #eef2f6; color:white}
  .KF-bg-Accent1{background-Color:#d4335c; color:white}
  .KF-bg-Accent2{background-Color:#35cabc; color:white}
  .KF-bg-Accent3{background-Color:#ab47bc; color:white}
  .KF-bg-Accent4{background-Color:#f4910e; color:white}




.content__wrap{padding:1rem}
.scrollable-content,body,html{scrollbar-color:rgba(135,139,144,.5) #fff0;scrollbar-width:thin}
.scrollable-content::-webkit-scrollbar,body::-webkit-scrollbar,html::-webkit-scrollbar{width:.1875rem}
.scrollable-content::-webkit-scrollbar-track,body::-webkit-scrollbar-track,html::-webkit-scrollbar-track{background-color:transparent}
.scrollable-content::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb,html::-webkit-scrollbar-thumb{background:rgba(135,139,144,.5);border-radius:2rem}
.scrollable-content::-webkit-scrollbar-thumb:hover,body::-webkit-scrollbar-thumb:hover,html::-webkit-scrollbar-thumb:hover{background:rgba(135,139,144,.5);width:.625rem}


/* A. Styling of root */
.root:before{background-color:rgba(0,0,0,.55);content:"";display:block;inset:0;opacity:0;pointer-events:none;position:fixed;visibility:hidden;z-index:-1}
.root{
    display:grid;
    gap:0 0;
    grid-template-columns:min-content 1fr;
    grid-template-rows:min-content 1fr;
    min-height:100vh;width:100%
}

.content__header>.content__wrap{padding-bottom:0!important}
@media(min-width:768px){.content__wrap{padding-inline:1.25rem}}
@media(min-width:992px){.content__wrap{padding-inline:1.25rem}}
@media(min-width:1200px){.content__wrap{padding-inline:1.25rem}}

.body-sc>.root{position:relative;height:100vh;overflow:hidden;z-index:999999}
.body-sc .content__header:after,.body-sc .header{z-index:0!important}

/*
* A.1. Styling of header 
*/

/* A.1.1. Generic header stylng */
.header{
    background-color:#25476a;
    color:#dee3e9;
    grid-area:1/1/2/3
}
.header__inner{
    align-items:center;
    display:flex;
    height:3.125rem;
    padding-inline:1rem; /* This one will change depending on scree size */
}
@media(min-width:768px){.header__inner{padding-inline:1.25rem}}
@media(min-width:992px){.header__inner{padding-inline:1.25rem}}
@media(min-width:1200px){.header__inner{padding-inline:1.25rem;}}

/* A.1.2. Brand section of the header */
.header__brand{
    background-color:transparent;
    color:#fff;
    align-items:center;
    display:flex;
    height:100%
}

.brand-wrap{
    align-items:center;
    display:flex;
    position:relative
}
.brand-img{
    margin-inline-end:.5rem;
    text-align:center;
    width:auto;
}
.brand-img img{
    width:30px;
    height:30px
}

/* A.1.3. content section of the header */
.header__content{
    align-items:center;
    display:flex;
    flex-grow:1;
    height:100%;
    justify-content:space-between
}

.header__content-start{flex-grow:1}
.header__content-end, .header__content-start{
    align-items:center;
    display:flex;
    gap:.3rem;
}
.header__content-end>*, .header__content-start>* {margin:0 -.1rem}

.header__content-end #user_dropdown_image {
    max-width:100%;
    border-radius: 50px;
    height: 35px;
    width: auto;
}

.header__btn{
    border-radius:.875rem;
    box-shadow:none!important;
    color:inherit;
    font-size: 1rem;
}
.header__btn:focus, .header__btn:hover{
    background-color:#1f3c5a;
    color:#fff;
    font-weight: 600;
}

@media(max-width:767.98px){
    .header__content .dropdown-menu{
        width:100vw !important}
}
@media(min-width:768px){
    .header__content .dropdown-menu{
        width:300px !important}
}

/*
* A.2. Main content styling
*/

.content{
    background-color:#edf1f6;
    color:#75868f;display:flex;
    flex-direction:column;
    grid-area:2/2/3/3;
    width:100%;
    min-width:0;
    max-width:100vw;
}

.content .page-title{ /* this would be used if there was no content__header */
    color:#25476a;
    font-size:2rem;
    font-weight:400;
    text-transform:capitalize
}

/* Styling of content__header */
.content__header{
    background-color:#25476a;
    border-radius:0 0 100% 100%/0 0 3vw 3vw;
    color:#cfd6df;
    display:flex;
    flex-direction:column;
    position:relative;
    width:100%}

.content__header .page-title{color:#fff}
.content__header .page-subtitle{color:#fff}
.content__header .Date{text-transform: uppercase; font-size: 400}


.content__header.overlapping .content__wrap:after{content:"";display:block;height:12.5vw;width:100%}
.content__header.overlapping+.content__boxed{margin-top:calc(-12.5vw);z-index:99}
.content__header:not(.overlapping):not(.rounded-0){min-height:10.9375rem}
  
.content__header:before {position:sticky;top:-.06125rem}
.content__header:not(.rounded-0):before{margin-bottom:2.1875rem}
.content__header:before{position:sticky;top:3.125rem}
.content__header:not(.rounded-0) .content__wrap{margin-top:-3.28125rem}
.content__header .content__wrap{margin-top:-1.09375rem}
.content__header:before{background-color:#25476a;content:"";display:block;height:1.09375rem;margin-left:0;-webkit-mask-image:radial-gradient(circle at 0 1.09375rem,transparent 0,transparent 1.09375rem,#000 1.09375rem);mask-image:radial-gradient(circle 1.09375rem at 0 1.09375rem,transparent 0,transparent 1.09375rem,#000 1.09375rem);position:relative;top:-.06125rem;transform:translateX(-1.09375rem);width:1.155rem;z-index:10}
.header__inner{padding-inline-start:0!important}
.header__brand{background-color:#fff;color:#25476a}
.header__brand{background-color:transparent;color:#fff;padding-inline-start:1rem;margin-inline-end:.5rem}
.header__brand .brand-title{color:inherit!important}
.content__header:before{visibility:hidden}
@media(min-width:990px){
     .header__brand{margin-inline-end:0!important}}

/*
* A.3. Main navigation styling 
*/

@media(min-width:992px){ /* Side navigator appears at large screen size */
    .mainnav{position:relative}
    .mainnav__inner{position:absolute}
    .mainnav{transition:max-width .5s ease;will-change:max-width}
    .header__inner{padding-inline-start:0;}
    .header__content{padding-inline-start:1.25rem}
    .header__brand{padding-inline-start:1.25rem;max-width:13.75rem;width:13.75rem;will-change:max-width}}
@media(min-width:1200px){.header__brand{padding-inline-start:1.25rem}}

.mainnav{
    display:flex;
    grid-area:2/1/3/2;
    max-width:13.75rem;
    width:13.75rem;
}
.mainnav .scrollable-content{scrollbar-width:none}
.mainnav__inner{background-color:#fff;color:#75868f;display:flex;flex-direction:column;height:100%;width:100%}
.mainnav__inner :where(h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6):not(.mainnav__caption){color:#373c43}
.mainnav__inner :where(.border-top,.border-end,.border-bottom,.border-start){border-color:#e1e2e3!important}
.mainnav__inner .dropdown-toggle:after{color:#373c43}.mainnav__inner .text-muted{color:#c3c5c7!important}
.mainnav__avatar.border{padding:.1rem}
.mainnav__top-content{display:flex;flex-direction:column;height:100%;overflow:auto;width:100%}
.mainnav__top-content.os-host-overflow{overflow:visible}
.mainnav__bottom-content{background-color:#fff;bottom:0;margin-top:auto;position:sticky}
.mainnav__bottom-content,.mainnav__top-content{padding-inline:.75rem}@media(min-width:768px){.mainnav__bottom-content,.mainnav__top-content{padding-inline:Max(.75rem,.25rem)}}
@media(min-width:992px){.mainnav__bottom-content,.mainnav__top-content{padding-inline:Max(.75rem,.25rem)}}
@media(min-width:1200px){.mainnav__bottom-content,.mainnav__top-content{padding-inline:Max(.75rem,.25rem)}}
.mainnav{transform:translateX(0);z-index:9999}
.mainnav{transition:transform .5s ease}
.mainnav__inner{height:100vh;position:sticky;top:0}
    
@media(max-width:991.98px){
    .mainnav{transform:translateX(-13.8125rem);z-index:1002}}


.mainnav__caption{color:#373c43} /* Styling of category titles in menu */
.mainnav__inner .mainnav__menu .nav-link{padding-block:.59rem}
.mainnav__inner .mainnav__menu>.nav-item>.nav-link{display:flex}
.mainnav__inner .mainnav__menu>.nav-item>.nav-link.active{background-color:#25476a;border-radius:.4375rem;box-shadow:none;color:#fff;font-weight:700}.mainnav__inner .mainnav__menu>.nav-item>.nav-link.active .nav-icon,.mainnav__inner .mainnav__menu>.nav-item>.nav-link.active i{color:inherit!important}
.mainnav__inner .mainnav__menu>.nav-item>.nav-link:not(.collapsed):not(.active){color:#25476a}
.root .mainnav__inner .nav-link{color:#75868f}
.root .mainnav__inner .nav-link.disabled{opacity:.4}
.root .mainnav__inner .nav-link:hover{color:#25476a}
.root .mainnav__inner .nav-link.active~.nav .active{color:#25476a}
.root .mainnav__inner .nav-link.active~.nav .active:hover{color:#25476a}
.root .mainnav__inner .nav-link .nav-icon,.root .mainnav__inner .nav-link i{color:#33475c!important}

/*
* Chart styling
*/
._dm-settingsContainer{content-visibility:auto;display:none;pointer-events:none}
@media(min-width:990px){._dm-btn-settings{inset:40% auto auto 0;position:absolute;transform:translateY(-50%) translateX(-100%);visibility:visible}._dm-setting-container{border-left:5px solid #373c43;bottom:auto;display:flex;pointer-events:unset;top:50%;transform:translateX(100%) translateY(-50%);width:auto}._dm-setting-container.show{transform:translateX(0) translateY(-50%)}._dm-setting-container .offcanvas-body{overflow:visible}._dm-setting-container__content{width:1100px}._dm-boxbg{border-radius:.4375rem .4375rem 0 0;content-visibility:auto;height:370px;margin:0 auto;width:1024px}
._dm-boxbg.show{box-shadow:0 0 2rem rgba(55,60,67,.2)}
._dm-boxbg__img-container{border-radius:.4375rem}
._dm-boxbg__img-container ._dm-boxbg__thumb{border-radius:.21875rem;display:block;margin:.1875rem;transition:transform .25s;width:calc(25% - (.1875rem * 2))}
._dm-boxbg__img-container ._dm-boxbg__thumb img{border-radius:.21875rem}
._dm-boxbg__img-container ._dm-boxbg__thumb:hover:not(.active){box-shadow:0 0 0 .1875rem #fff,0 0 1rem rgba(55,60,67,.75);position:relative;transform:scale(1.5);z-index:1}
._dm-boxbg__img-container ._dm-boxbg__thumb.active{cursor:default;filter:grayscale(1);transform:scale(.9)}._dm-boxbg__img-container ._dm-boxbg__thumb.active img{opacity:.5}
._dm-boxbg__img-container ._dm-boxbg__thumb.active:after{content:"";position:absolute;width:1.2rem;height:.7rem;border-width:0 0 4px 4px;border-style:solid;border-color:#fff;inset:50% 0 0 50%;transform:translateX(-50%) translateY(-50%) rotate(-45deg);transform-origin:center center}
._dm-color-box{width:32px;height:32px;border-radius:.4375rem}._dm-themeColors.active:not(.schemes-btn){position:relative}
._dm-themeColors.active.schemes-btn:before,._dm-themeColors.active:before{border-color:#fff;border-style:solid;border-width:0 0 3px 3px;content:"";height:.45rem;inset:50% 0 0 50%;position:absolute;transform-origin:center center;transform:translateX(-50%) translateY(-50%) rotate(-45deg);width:.7rem}
._dm-themeColors.active.schemes-btn:before{left:16px}
._dm-colorShcemesMode{align-items:center;display:flex;justify-content:center;min-height:100px;overflow:hidden;position:relative}
._dm-colorShcemesMode.active .btn,._dm-colorShcemesMode:hover .btn,._dm-colorShcemesMode>.btn:focus~.btn{opacity:.1}
._dm-colorShcemesMode.active ._dm-colorSchemesMode__colors,._dm-colorShcemesMode:hover ._dm-colorSchemesMode__colors,._dm-colorShcemesMode>.btn:focus~._dm-colorSchemesMode__colors{transform:translateY(0);transition:transform .15s ease 0s}
._dm-colorShcemesMode.active ._dm-box-xs.active,._dm-colorShcemesMode:hover ._dm-box-xs.active,._dm-colorShcemesMode>.btn:focus~._dm-box-xs.active{position:relative;transform:none;width:24px}
._dm-colorSchemesMode__colors{inset:0;padding-block:.5rem;position:absolute;transform:translateY(100%);transition:transform .15s}
._dm-colorSchemesMode__colors ._dm-box-xs{appearance:none;border-radius:.75rem;border:0;height:24px;margin-bottom:.2rem;margin-inline:.2rem;width:24px}
._dm-colorSchemesMode__colors ._dm-box-xs:hover{box-shadow:0 0 .5rem rgba(55,60,67,.25);transform:scale(1.1)}
._dm-colorSchemesMode__colors ._dm-box-xs.active{position:absolute;transform:translateY(calc(-100% - 1rem));width:48px}
._dm-bg-gray{background-color:#98a3b0}
._dm-bg-navy{background-color:#265689}
._dm-bg-ocean{background-color:#59b3f0}
._dm-bg-lime{background-color:#7abf1e}
._dm-bg-violet{background-color:#b788f0}
._dm-bg-orange{background-color:#f9ab24}
._dm-bg-teal{background-color:#35cabc}
._dm-bg-corn{background-color:#ffde2a}
._dm-bg-cherry{background-color:#ec4d6c}
._dm-bg-coffee{background-color:#ea916a}
._dm-bg-pear{background-color:#d2649d}
._dm-bg-night{background-color:#4b5158}}


/* START - Styling of Scroll container */
.scroll-container{pointer-events:none;position:absolute;right:1rem;top:Min(calc(100% - 4em),120vh);bottom:4em;clip-path:inset(0 0 0 0);z-index:999}
.scroll-page{align-items:center;background-color:#25476a;border:4px solid #edf1f6!important;border-radius:.4375rem;color:#fff!important;cursor:pointer;display:flex;justify-content:center;pointer-events:visible;position:sticky;right:1rem;text-decoration:none;top:calc(100vh - 4em - 1rem);width:4em;z-index:99999}
.scroll-page:after{border-style:solid;border-width:2px 2px 0 0;content:'';display:inline-block;height:.75em;left:calc(50% - .375em);pointer-events:none;position:absolute;top:calc(50% - .175em);transform-origin:center center;transform:rotate(-45deg);width:.75em}
/* END - Styling of Scroll container */